@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 16px;
	margin: 0;
	padding: 0;
	zoom: 100%;
	font-family: 'Inter', sans-serif;
	font-family: 'Karla', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Sanchez', serif;
}

@keyframes slide-in {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

.animate-slide-in {
	animation-name: slide-in;
	animation-duration: 2s; /* changed from 1s to 5s */
	animation-fill-mode: both;
}
